<h1>Home Page</h1>
<div class="jumbotron">
  <h1>Welcome to Pets Healthcare</h1>
  <p>Here has more details about pets life</p>
</div>
<div class="iframe_main">
  <iframe class="iframe_style" src="https://petkeen.com/top-pet-blogs/"></iframe>
  <iframe class="iframe_style" src="https://www.vets-now.com/pet-care-advice/"></iframe>
</div>
